[submodule "esolid-base"]
	path = esolid-base
	url = http://github.com/nradulovic/esolid-base.git/
[submodule "esolid-eds"]
	path = esolid-eds
	url = http://github.com/nradulovic/esolid-eds.git/
[submodule "esolid-mem"]
	path = esolid-mem
	url = http://github.com/nradulovic/esolid-mem.git/
[submodule "esolid-vtimer"]
	path = esolid-vtimer
	url = http://github.com/nradulovic/esolid-vtimer.git/
